version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: challenger
    ports:
      - "5432:5432"
    volumes:
      - ./Database/sql/schema-init:/docker-entrypoint-initdb.d

  app:
    build: ./src
    ports:
      - "8080:8080"
    volumes:
      - ./src:/src
    depends_on:
      - postgres

  