name: Go Tests

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./src
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: 1.24.4
          cache: true
          cache-dependency-path: |
            server/go.sum

      - name: Install dependencies
        run: go mod download

      - name: Run unit tests
        run: go test -v -coverprofile=coverage.out ./tests...

      - name: Coverage summary
        run: go tool cover -func=coverage.out
